$fontFamily: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$contentBackground: #efefef;
$textColor: red;
$butonColor: #0401ac;
$articleFont: white;
$sizeForSmal: 15px;
$headerImg: url(../img/header_background_v2.jpg) no-repeat center top/cover;
$postDesc: blue;