$fontFamily: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$contentBackground: #fff;
$textColor: #bbdcea;
$butonColor: #00adad;
$articleFont: #eff0ef;
$sizeForSmal: 15px;
$headerImg: url(../img/header_background_v1.jpg) no-repeat center top/cover;
$postDesc: red;